<style>
    .subscribe-btn {
    background: #34d9a7;
    background-image: -webkit-linear-gradient(top, #34d9a7, #2bb87b);
    background-image: -moz-linear-gradient(top, #34d9a7, #2bb87b);
    background-image: -ms-linear-gradient(top, #34d9a7, #2bb87b);
    background-image: -o-linear-gradient(top, #34d9a7, #2bb87b);
    background-image: linear-gradient(to bottom, #34d9a7, #2bb87b);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.subscribe-btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  </style>
<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col">
          <button class="subscribe-btn"> Subscribe </button>
          <ul class="contact-list">
              {% if site.email -%}
              <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              {%- endif %}
              {% if site.name -%}
                <li class="p-name">{{ site.name | escape }}</li>
              {% endif -%}
          </ul>
        </div>
        <div class="footer-col">
          <p>{{ site.description | escape }}</p>
        </div>
      </div>
  
      <div class="social-links">
        {%- include social.html -%}
      </div>
  
    </div>
  
  </footer>